# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environments
.venv/
env/
venv/

# Environment config
.env

# Jupyter
.ipynb_checkpoints/

# IDE config
.vscode/
.idea/

# System
.DS_Store
Thumbs.db

# Cache / log
*.log
*.sqlite
*.db
.pytest_cache/

# Exporter og interaktive grafer
*.html
*.json

# VS Code workspace metadata (valgfritt)
*.code-workspace